@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orange: hsl(26, 81%, 52%);
  --mint: hsl(162, 49%, 62%);
  --dark-green: hsl(169, 71%, 14%);
  --orange-hover: hsl(26, 60%, 52%);
  --hover: hsl(0, 5%, 80%);
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --orange: hsl(26, 81%, 52%);
    --mint: hsl(162, 49%, 62%);
    --dark-green: hsl(169, 71%, 14%);
    --orange-hover: hsl(26, 60%, 52%);
    --hover: hsl(0, 5%, 80%);
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer apply {
  .lucide {
    flex-shrink: 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
